h1 {
    text-align: center;
    font-size: 300%;
    font-style: italic;
    color: #ffff;
}

p {
    color: antiquewhite;
    margin: 30px;
    padding: 40px;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;

    z-index: -1;

}

@media(min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}